{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="mt-4 titrePolMen">Conditions générales d'utilisation</h1><hr>

			<p class="paragraphePolMen mt-4">Bienvenue sur le site
				<i>The District</i>
				(ci-après "le Site"). En accédant et en utilisant notre
				<i>Site</i>, vous acceptez de respecter et d'être lié par les présentes Conditions Générales d'Utilisation (CGU). Veuillez les lire attentivements avant d'utiliser notre
				<i>Site</i>.</p>

			<p class="paragraphePolMen mt-4">
				<b>1. Acceptation des CGU.</b>
				En accédant à notre Site, vous acceptez sans réserve les présentes CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre
				<i>Site</i>.</p>

			<p class="paragraphePolMen mt-4">
				<b>2. Accès au
					<i>Site.</i>
				</b>
				L'accès au
				<i>Site</i>
				est gratuit. Tous les coûts afférents à l'accès au
				<i>Site</i>, qu'il s'agisse de frais matériels, logiciels ou d'accès à Internet, sont exclusivement à la charge de l'utilisateur. L'utilisateur est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à Internet.</p>

			<p class="paragraphePolMen mt-4">
				<b>3. Propriété Intellectuelle.</b>
				Le contenu du
				<i>Site</i>, incluant, de manière non limitative, les textes, images, graphismes, logos, icônes, sons, logiciels, sont la propriété de
				<i>The District</i>
				ou de ses partenaires et sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, représentation,modification, publication, adaptation de tout ou partie des éléments du
				<i>Site</i>, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
				<i>The District</i>.</p>

			<p class="paragraphePolMen mt-4">
				<b>4. Utilisation du
					<i>Site</i>.</b>
				L'utilisateur s'engage à utiliser le
				<i>Site</i>
				uniquement à des fins légales et de manière conforme aux présentes CGU ainsi qu'à la réglementation en vigueur. Il est interdit de :</p>
			<ul class="listePolMen">
				<li>Diffuser du contenu illégal, nuisible, menaçant, abusif, harcelant, diffamatoire, vulgaire, obscène, ou autrement répréhensible.</li>
				<li>Ususper l'identité d'une personne ou d'une entité.</li>
				<li>Perturber ou tenter de perturber le fonctionnement du
					<i>Site</i>.</li>
			</ul>

			<p class="paragraphePolMen mt-4">
				<b>5. Reponsabilité.</b>
				<i>The District</i>
				s'efforce de fournir des informations exactes et mises à jour sur son
				<i>Site</i>. Toutefois,
				<i>The District</i>
				ne peut garantir l'exactitude, la complétude ou la pertinence des informations disponibles sur le
				<i>Site</i>. En conséquence,
				<i>The District</i>
				décline toute responsabilité pour toute imprécision, inexactitude ou omission portant sur des informations disponible sur le
				<i>Site</i>.</p>

			<p class="paragraphePolMen mt-4">
				<b>6. Liens Hypertextes.</b>
				Le
				<i>Site</i>
				peut contenir des liens hypertextes vers d'autres sites.
				<i>The District</i>
				n'exerce aucun contrôle sur ces sites et décline toute responsabilité quand à leur contenu ou leur fonctionnement.</p>

			<p class="paragraphePolMen mt-4">
				<b>7. Modifications des CGU.</b>
				<i>The District</i>
				se réserve le droit de modifier, à tout moment et sans préavis, les présentes CGU afin de les adapter aux évolutions du
				<i>Site</i>
				et/ou de son exploitation. Il est donc conseillé aux utilisateurs de consulter régulièrement la dernière version des CGU disponible sur le
				<i>Site</i>.</p>

			<p class="paragraphePolMen mt-4">
				<b>8. Loi Applicable et Juridiction Compétente.</b>
				Les présentes CGU sont régies par la loi française. En cas de litige relatif à l'interprétation ou à l'éxécution des présentes CGU, les tribunaix français seront seuls compétents.</p>

			<p class="paragraphePolMen mt-4">
				<b>Contact.</b> Pour toute question concernant les présentes CGU, vous pouvez nous contacter à l'adresse suivante : thedistrict@laposte.fr.
			</p>
		</div>
	</div>
{% endblock %}
