{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row g-0">
			<video src="/img/852299-hd_1280_720_30fps.mp4" loop autoplay muted alt="video_pizza" title="bandereau" id="video" class="object-fit-cover"></div>
		</div>

		<div class="container">
			<div class="parallax col-12 col-sm-12">

				<div class="container">
					<div class="row">

						<div class="backgroundTitle mb-3">
							<h1>Les catégories</h1>
						</div>

						{% for categorie in categories %}

							<div class="col-sm-12 col-lg-4">
								<a href="{{ path ('app_platcat', {categorie_id: categorie.id} ) }}">
									<img src="{{ asset ('/img/category/' ~ categorie.image) }}" class="animeimage posImage" alt="{{ categorie.libelle }}">
                                    <div class="row justify-content-center">
									<p class="pCouleurtxt col-7">{{ categorie.libelle }}</p>
                                    </div>
								</a>
							</div>

						{% endfor %}

                        






					</div>
				</div>
			</div>
		</div>

	{% endblock %}
